$white: #ffffff;
$background: #eeeeee;
$primary-color: #1DBFBF;
$text: #333333;
$menu-open: #dddddd;
$indent: 2rem;
$indent-small: 1rem;


$brk-320: 20rem;    // 320/16
$brk-400: 25rem;    // 400/16
$brk-600: 37.5rem;  // 600/16
$brk-1280: 80rem;   // 1280/16

$max-width: 80rem;

$header-double-row: 5.5rem;
$header-single-row: 3rem;

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-brk, $max-brk, $properties) {
  @each $item in $properties {
    #{map-get($item, prop)}: map-get($item, min);
  }
  @include breakpoint($min-brk) {
    @each $item in $properties {
      $prop: map-get($item, prop);
      $min: map-get($item, min);
      $max: map-get($item, max);
      #{$prop}: calc(#{$min} + #{strip-unit($max - $min)} * (100vw - #{$min-brk}) / #{strip-unit($max-brk - $min-brk)});
    }
  }
  @include breakpoint($max-brk) {
    @each $item in $properties {
      #{map-get($item, prop)}: map-get($item, max);
    }
  }
}

// Thanks to Hugo Giraudel for his str-replace function (http://www.sassmeister.com/gist/1b4f2da5527830088e4d)
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-encode($svg) {
  $encoding-reference: (
    //('%','%25'),  // Encode "%" first, otherwise the "%" from encoded code would be encoded again (which would be bad)
    ('<','%3C'),
    ('>','%3E'),
    //('"','%22'),  // Replace " with ' because that's shorter than %22 and normally working
    ('"','\''),
    ('#','%23'),
    ('&','%26')
  );
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}

@mixin sans {
  font-family: sans-serif;
  .fonts-loaded & {
    font-family: 'Montserrat', sans-serif;
  }
}

@mixin serif {
  font-family: serif;
  .fonts-loaded & {
    font-family: 'Merriweather', serif;
  }
}

@import "./node_modules/normalize.scss/normalize.scss";

/*! Project styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $text;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  top: $header-double-row;
  @include breakpoint($brk-600) {
    top: $header-single-row;
  }
}

.regulation {
  background-color: $white;
  padding: $indent-small;
  max-width: $max-width / 2;
  margin: 0 auto;
  @include breakpoint($brk-400) {
    padding: $indent
  }
}

.chapter {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  border-left: 0.5rem solid $primary-color;
  @include breakpoint($brk-400) {
    font-weight: 300;
    padding-left: 1em;
  }
}

// Remove top margin for first chapter
.regulation__body > .chapter:first-child {
  margin-top: 0;
}

.chapter__number {
  @include sans;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1em;
  display: inline-block;
  margin-bottom: 0.5em;
  @include fluid-type(
    $brk-320, $brk-600,
    (
      (prop: font-size, min: 1rem, max: 1.5rem),
    )
  )
}

.chapter__title {
  @include sans;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25em;
  @include fluid-type(
    $brk-320, $brk-600,
    (
      (prop: font-size, min: 1.5rem, max: 2.5rem),
    )
  );
  @include breakpoint($brk-400) {
    font-weight: 300;
  }
}

.sectionhead,
.sectionhead-numbered {
  @include sans;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25em;
  margin-bottom: 0;
  margin-top: 1rem;
  @include fluid-type(
    $brk-320, $brk-600,
    (
      (prop: font-size, min: 1rem, max: 1.5rem),
    )
  );

}

.sectionhead-numbered {
  font-size: 1em;
}

.sectionhead {
  border-bottom: 4px solid $primary-color;
  display: inline-block;
}

.para, .footnote__entry {
  @include serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6em;
  a {
    color: #000;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: $primary-color;
    &:hover {
      color: $primary-color;
      text-decoration: underline;
      text-decoration-style: double;
    }
  }
}

.para__1,
.sectionhead-numbered {
  margin-left: $indent-small;
  @include breakpoint($brk-400) {
    margin-left: $indent
  }
}

.para__2 {
  margin-left: $indent-small * 2;
  @include breakpoint($brk-400) {
    margin-left: $indent * 2;
  }
}

.para__3 {
  margin-left: $indent-small * 3;
  @include breakpoint($brk-400) {
    margin-left: $indent * 3;
  }
}

.para__4 {
  margin-left: $indent-small * 4;
  @include breakpoint($brk-400) {
    margin-left: $indent * 4;
  }
}

.para__5 {
  margin-left: $indent-small * 5;
  @include breakpoint($brk-400) {
    margin-left: $indent * 5;
  }
}

.para__label,
.sectionhead-numbered__label {
  @include sans;
  font-weight: 700;
  margin-left: $indent-small * -1;
  margin-right: 0.5em;
  min-width: 0.5em;
  display: inline-block;
  @include breakpoint($brk-400) {
    margin-left: $indent * -1;
    min-width: 1.5em;
  }
}

.para__historynote {
  @include sans;
  font-weight: 500;
  font-size: 0.8rem;
}

.defterm {
  @include sans;
  font-weight: 700;
}

.footnotes {
  padding-left: 1em;
}

.footnote__entry {
  font-size: 0.8rem;
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

a.footnote__marker,
.footnote__marker sup {
  @include sans;
  font-weight: 700;
  color: $primary-color;
  text-decoration: none;
}

.reference__external::before {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiICB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgIDxwYXRoIGZpbGw9IiM2NjY2NjYiIGQ9Ik0xNywxNy4yNVYxNEgxMFYxMEgxN1Y2Ljc1TDIyLjI1LDEyTDE3LDE3LjI1TTEzLDJBMiwyIDAgMCwxIDE1LDRWOEgxM1Y0SDRWMjBIMTNWMTZIMTVWMjBBMiwyIDAgMCwxIDEzLDIySDRBMiwyIDAgMCwxIDIsMjBWNEEyLDIgMCAwLDEgNCwySDEzWiIgLz4KPC9zdmc+");
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  top: 4px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  color: $white;
  z-index: 1000;
}

.header__content {
  max-width: $max-width / 2;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1rem;
  height: $header-double-row;
  @include breakpoint($brk-600) {
    display: flex;
    align-items: center;
    height: $header-single-row;
  }
}

.header__title {
  @include sans;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 1rem 0.5rem;
  @include breakpoint($brk-600) {
    align-items: center;
    flex: 1;
    padding: 1rem;
  }
}

.header__contents {
  @include sans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  white-space: nowrap;
  padding: 1rem;
  float: right;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  @include breakpoint($brk-600) {
    display: inline-block;
    float: none;
    align-items: center;
  }
  @include breakpoint($brk-1280) {
    display: none;
  }
}

.menu {
  @include sans;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: $background;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: $max-width / 4;
  height: 100%;
  padding-top: $header-double-row;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 500;
  box-shadow: 0 0 1rem #aaa;
  transition: transform 0.25s;
  ol {
    list-style: none;
    padding-left: 0;
  }
  a {
    color: $text;
    text-decoration: none;
    &:hover {
      color: $text;
      text-decoration: underline;
    }
  }
  @include breakpoint($brk-600) {
    padding-top: $header-single-row;
  }
  @include breakpoint($brk-1280) {
    transition: unset;
    right: calc((100vw - 80rem) / 2);
    box-shadow: none;
  }
}

.menu--hidden {
  transform: translate($max-width / 4);
  box-shadow: none;
  @include breakpoint($brk-1280) {
    transform: unset;
    right: calc((100vw - 80rem) / 2);
  }
}

.menu-chapter {
  display: block;
  position: relative;
  width: 100%;
  & > a {
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 3rem;
  }
  &.active {
    .menu-sections {
      display: block;
    }
    background-color: $menu-open;
  }
}

.menu-sections {
  display: none;
  padding-bottom: 0.5rem;
}

.menu-section > a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.menu-chapter__expand-button {
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 0.125rem;
  right: 1rem;
  cursor: pointer;
  background-image: url(svg-encode('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:#1DBFBF;}</style><path class="st0" d="M23,17h-6v6h-2v-6H9v-2h6V9h2v6h6V17z"/></svg>'));
}

.menu-chapter.active .menu-chapter__expand-button {
  background-image: url(svg-encode('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:#1DBFBF;}</style><path class="st0" d="M9,15h14v2H9V15z"/></svg>'));
}
